In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_excel('HousePricePrediction.xlsx')
df.head()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [18]:
df.shape

(2919, 13)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2919 non-null   int64
 1   MSSubClass    2919 non-null   int64
 2   MSZoning      2915 non-null   object
 3   LotArea       2919 non-null   int64
 4   LotConfig     2919 non-null   object
 5   BldgType      2919 non-null   object
 6   OverallCond   2919 non-null   int64
 7   YearBuilt     2919 non-null   int64
 8   YearRemodAdd  2919 non-null   int64
 9   Exterior1st   2918 non-null   object
 10  BsmtFinSF2    2918 non-null   float64
 11  TotalBsmtSF   2918 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 296.6+ KB

In [20]:
df.drop(columns = ['Id'] , inplace = True)

In [21]:
numeric_df = df.select_dtypes(include = ['int64' , 'float64'])
numeric_df.shape

(2919, 8)

Categorical features are excluded for the baseline numeric only model

In [22]:
numeric_df = numeric_df[numeric_df['SalePrice'].notnull()]
numeric_df['SalePrice'] = numeric_df['SalePrice'].fillna(numeric_df['SalePrice'].mean())
numeric_df['TotalBsmtSF'] = numeric_df['TotalBsmtSF'].fillna(numeric_df['TotalBsmtSF'].mean())

Rows with missing SalePrice are removed since the target Variable cannot be imputed.
These rows represent test only Samples and are excluded from model training.

In [23]:
numeric_df.isnull().sum()

MSSubClass      0
LotArea         0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
BsmtFinSF2      0
TotalBsmtSF     0
SalePrice       0
dtype: int64

In [24]:
numeric_df.columns

Index(['MSSubClass', 'LotArea', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'BsmtFinSF2', 'TotalBsmtSF', 'SalePrice'],
      dtype='object')

In [25]:
selected_feature = ['TotalBsmtSF' , 'YearBuilt' , 'YearRemodAdd' , 'LotArea' , 'OverallCond']

final_df = numeric_df[selected_feature + ['SalePrice']]

Features selected based on correlation analysis with SalePrice.

In [26]:
final_df.isnull().sum()

TotalBsmtSF     0
YearBuilt       0
YearRemodAdd    0
LotArea         0
OverallCond     0
SalePrice       0
dtype: int64

In [27]:
final_df.shape

(1460, 6)

In [28]:
final_df.head()

   TotalBsmtSF  YearBuilt  YearRemodAdd  LotArea  OverallCond  SalePrice
0        856.0       2003          2003     8450            5   208500.0
1       1262.0       1976          1976     9600            8   181500.0
2        920.0       2001          2002    11250            5   223500.0
3        756.0       1915          1970     9550            5   140000.0
4       1145.0       2000          2000    14260            5   250000.0

In [29]:
final_df.to_csv("cleaned_numeric_data.csv", index=False)

In [30]:
#final_df.to_csv("cleaned_numeric_data_final.csv", index=False)